@tailwind base;
@tailwind components;
@tailwind utilities;

/* 非表示 */
#audioPlayer {
  display: none;
}

.textfont {
  font-family: "Anton", sans-serif;
}
.engfont {
  font-family: "Pacifico", cursive;
  font-size: 26px;
  font-weight: bold;
  color: #333333;
}
.japanfont {
  /* font-family: "Noto Sans JP", "Kosugi", sans-serif; */
  font-family: "MS Pゴシック";
}
/* ボタンのスタイル */
/* #playBtn {
  background-color: #1a1a1a;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

#playBtn:hover {
  background-color: #333333;
} */

.text-grad-gold {
  background: linear-gradient(to right, #d28f00, #f5c359);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.back-expression {
  background-image: url("/background/ai.svg");
}
.back-expression2 {
  background-image: url("/background/ai2.svg");
}

.input-box {
  background-color: rgb(0, 0, 149);
}
